doctype html
html
 head
   title akiElo
 body
   h1 Third Strike Leaderboard Bitch
   p First: #{firstPlayerTag} #{firstPlayerName} #{firstPlayerElo} #{firstPlayerWins} #{firstPlayerLosses}
   p Second: #{secondPlayerTag} #{secondPlayerName} #{secondPlayerElo} #{secondPlayerWins} #{secondPlayerLosses}
   p Third: #{thirdPlayerTag} #{thirdPlayerName} #{thirdPlayerElo} #{thirdPlayerWins} #{thirdPlayerLosses}